<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ 'Weekly Youth News'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1 class="sr-only">
                {{ 'Weekly Youth News'|trans }}
            </h1>

            <nav class="navbar navbar-expand-xl navbar-light bg-light">
                <div class="container mt-4 mb-3">
                    <a class="navbar-brand mr-4 pr-2" href="{{ path('index') }}">
                        &#128478;&#65039; {{ 'Weekly Youth News'|trans }}
                    </a>

                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#header-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Afficher/Cacher la navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="header-menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mr-3">
                                <a class="nav-link" href="{{ path('admin') }}">
                                    {% if is_granted('ROLE_ADMIN') %}🔓{% else %}🔒{% endif %} {{ 'Admin'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <nav class="bg-light border-bottom">
                <div class="container">
                    <a href="{{ path('index') }}">
                        Index
                    </a>
                </div>
            </nav>
        </header>

        <main role="main" class="container mt-5">
            {% block body %}{% endblock %}
        </main>

        <footer class="mt-7 px-3 py-5 text-center text-muted">
            <p>
                {{ 'Weekly Youth News'|trans }}
            </p>
            <p>
                {{ 'powered by YouthHack'|trans }}
            </p>
            <p>
                <a href="#" class="text-white">{{ 'Back to top'|trans }}</a>
            </p>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
